<main class="page-main">
    <div class="section-first-screen">
      <div class="section-first-screen__shape">
        <div class="section-first-screen__content" style="background-image: url(assets/img/bg-page-blog.jpg)">
          <div class="uk-container">
            <h1 class="section-first-screen__title">Blog - Grid Style</h1>
            <div class="section-first-screen__breadcrumb">
              <ul class="uk-breadcrumb">
                <li><a routerLink="/pages/home">Home</a></li>
                <li><span>Latest News</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-content">
      <div class="uk-section-large uk-container">
        <div class="uk-grid uk-grid-medium uk-child-width-1-2@s uk-child-width-1-3@m" data-uk-grid>
          <div>
            <div class="blog-item">
              <div class="blog-item__media"><a href="#!"><img src="assets/img/blog-1.jpg" alt="Generator Components Which You Should Know"></a>
                <div class="blog-item__category">Auto repair</div>
              </div>
              <div class="blog-item__body">
                <div class="blog-item__info">
                  <div class="blog-item__date">January 31, 2021</div>
                  <div class="blog-item__author">By <a href="#!">Smith Henry</a></div>
                </div>
                <div class="blog-item__title">Generator Components Which You Should Know</div>
                <div class="blog-item__intro">Magna aliqua umt enimd mini venia quis ulamco aliquip commodo cons equat duis aute irue derit ...</div>
              </div>
              <div class="blog-item__bottom"> <a class="uk-button-link" href="#!" data-uk-icon="triangle-right">Read More </a></div>
            </div>
          </div>
          <div>
            <div class="blog-item">
              <div class="blog-item__media"><a href="#!"><img src="assets/img/blog-2.jpg" alt="We Do Auto Repair And Inspection Commitment"></a>
                <div class="blog-item__category">maintenance</div>
              </div>
              <div class="blog-item__body">
                <div class="blog-item__info">
                  <div class="blog-item__date">January 31, 2021</div>
                  <div class="blog-item__author">By <a href="#!">Smith Henry</a></div>
                </div>
                <div class="blog-item__title">We Do Auto Repair And Inspection Commitment</div>
                <div class="blog-item__intro">Magna aliqua umt enimd mini venia quis ulamco aliquip commodo cons equat duis aute irue derit ...</div>
              </div>
              <div class="blog-item__bottom"> <a class="uk-button-link" href="#!" data-uk-icon="triangle-right">Read More </a></div>
            </div>
          </div>
          <div>
            <div class="blog-item">
              <div class="blog-item__media"><a href="#!"><img src="assets/img/blog-3.jpg" alt="Inadequate Engine Oil Will Cause Damage The Parts"></a>
                <div class="blog-item__category">car engine</div>
              </div>
              <div class="blog-item__body">
                <div class="blog-item__info">
                  <div class="blog-item__date">January 31, 2021</div>
                  <div class="blog-item__author">By <a href="#!">Smith Henry</a></div>
                </div>
                <div class="blog-item__title">Inadequate Engine Oil Will Cause Damage The Parts</div>
                <div class="blog-item__intro">Magna aliqua umt enimd mini venia quis ulamco aliquip commodo cons equat duis aute irue derit ...</div>
              </div>
              <div class="blog-item__bottom"> <a class="uk-button-link" href="#!" data-uk-icon="triangle-right">Read More </a></div>
            </div>
          </div>
          <div>
            <div class="blog-item">
              <div class="blog-item__media"><a href="#!"><img src="assets/img/blog-4.jpg" alt="Generator Components Which You Should Know"></a>
                <div class="blog-item__category">Auto repair</div>
              </div>
              <div class="blog-item__body">
                <div class="blog-item__info">
                  <div class="blog-item__date">January 31, 2021</div>
                  <div class="blog-item__author">By <a href="#!">Smith Henry</a></div>
                </div>
                <div class="blog-item__title">Generator Components Which You Should Know</div>
                <div class="blog-item__intro">Magna aliqua umt enimd mini venia quis ulamco aliquip commodo cons equat duis aute irue derit ...</div>
              </div>
              <div class="blog-item__bottom"> <a class="uk-button-link" href="#!" data-uk-icon="triangle-right">Read More </a></div>
            </div>
          </div>
          <div>
            <div class="blog-item">
              <div class="blog-item__media"><a href="#!"><img src="assets/img/blog-5.jpg" alt="We Do Auto Repair And Inspection Commitment"></a>
                <div class="blog-item__category">maintenance</div>
              </div>
              <div class="blog-item__body">
                <div class="blog-item__info">
                  <div class="blog-item__date">January 31, 2021</div>
                  <div class="blog-item__author">By <a href="#!">Smith Henry</a></div>
                </div>
                <div class="blog-item__title">We Do Auto Repair And Inspection Commitment</div>
                <div class="blog-item__intro">Magna aliqua umt enimd mini venia quis ulamco aliquip commodo cons equat duis aute irue derit ...</div>
              </div>
              <div class="blog-item__bottom"> <a class="uk-button-link" href="#!" data-uk-icon="triangle-right">Read More </a></div>
            </div>
          </div>
          <div>
            <div class="blog-item">
              <div class="blog-item__media"><a href="#!"><img src="assets/img/blog-6.jpg" alt="Inadequate Engine Oil Will Cause Damage The Parts"></a>
                <div class="blog-item__category">car engine</div>
              </div>
              <div class="blog-item__body">
                <div class="blog-item__info">
                  <div class="blog-item__date">January 31, 2021</div>
                  <div class="blog-item__author">By <a href="#!">Smith Henry</a></div>
                </div>
                <div class="blog-item__title">Inadequate Engine Oil Will Cause Damage The Parts</div>
                <div class="blog-item__intro">Magna aliqua umt enimd mini venia quis ulamco aliquip commodo cons equat duis aute irue derit ...</div>
              </div>
              <div class="blog-item__bottom"> <a class="uk-button-link" href="#!" data-uk-icon="triangle-right">Read More </a></div>
            </div>
          </div>
          <div>
            <div class="blog-item">
              <div class="blog-item__media"><a href="#!"><img src="assets/img/blog-7.jpg" alt="Generator Components Which You Should Know"></a>
                <div class="blog-item__category">Auto repair</div>
              </div>
              <div class="blog-item__body">
                <div class="blog-item__info">
                  <div class="blog-item__date">January 31, 2021</div>
                  <div class="blog-item__author">By <a href="#!">Smith Henry</a></div>
                </div>
                <div class="blog-item__title">Generator Components Which You Should Know</div>
                <div class="blog-item__intro">Magna aliqua umt enimd mini venia quis ulamco aliquip commodo cons equat duis aute irue derit ...</div>
              </div>
              <div class="blog-item__bottom"> <a class="uk-button-link" href="#!" data-uk-icon="triangle-right">Read More </a></div>
            </div>
          </div>
          <div>
            <div class="blog-item">
              <div class="blog-item__media"><a href="#!"><img src="assets/img/blog-8.jpg" alt="We Do Auto Repair And Inspection Commitment"></a>
                <div class="blog-item__category">maintenance</div>
              </div>
              <div class="blog-item__body">
                <div class="blog-item__info">
                  <div class="blog-item__date">January 31, 2021</div>
                  <div class="blog-item__author">By <a href="#!">Smith Henry</a></div>
                </div>
                <div class="blog-item__title">We Do Auto Repair And Inspection Commitment</div>
                <div class="blog-item__intro">Magna aliqua umt enimd mini venia quis ulamco aliquip commodo cons equat duis aute irue derit ...</div>
              </div>
              <div class="blog-item__bottom"> <a class="uk-button-link" href="#!" data-uk-icon="triangle-right">Read More </a></div>
            </div>
          </div>
          <div>
            <div class="blog-item">
              <div class="blog-item__media"><a href="#!"><img src="assets/img/blog-9.jpg" alt="Inadequate Engine Oil Will Cause Damage The Parts"></a>
                <div class="blog-item__category">car engine</div>
              </div>
              <div class="blog-item__body">
                <div class="blog-item__info">
                  <div class="blog-item__date">January 31, 2021</div>
                  <div class="blog-item__author">By <a href="#!">Smith Henry</a></div>
                </div>
                <div class="blog-item__title">Inadequate Engine Oil Will Cause Damage The Parts</div>
                <div class="blog-item__intro">Magna aliqua umt enimd mini venia quis ulamco aliquip commodo cons equat duis aute irue derit ...</div>
              </div>
              <div class="blog-item__bottom"> <a class="uk-button-link" href="#!" data-uk-icon="triangle-right">Read More </a></div>
            </div>
          </div>
        </div>
        <ul class="uk-pagination uk-flex-center uk-margin-large-top">
          <li class="uk-active"><span>1</span></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
        </ul>
      </div>
    </div>
    <div class="section-subscribe">
      <div class="section-subscribe__content">
        <div class="uk-container">
          <div class="subscribe-box">
            <div class="uk-grid uk-flex-middle uk-child-width-1-2@m" data-uk-grid>
              <div>
                <div class="section-title">
                  <div class="uk-h2">Newsletter Subscription</div><span>Get Latest Auto News & Updates Directly To Inbox</span>
                </div>
              </div>
              <div>
                <div class="subscribe-box__form">
                  <form action="#!">
                    <div class="uk-flex uk-flex-middle"><input class="uk-input uk-form-large" type="email" name="email" placeholder="Write your email ..."><button class="uk-button uk-button-danger uk-button-large" type="submit" data-uk-icon="triangle-right">Subscribe</button></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>