<main class="page-main">
    <div class="section-first-screen">
      <div class="section-first-screen__shape">
        <div class="section-first-screen__content" style="background-image: url(assets/img/bg-page-blog.jpg)">
          <div class="uk-container">
            <h1 class="section-first-screen__title">Blog - List Style</h1>
            <div class="section-first-screen__breadcrumb">
              <ul class="uk-breadcrumb">
                <li><a routerLink="/pages/home">Home</a></li>
                <li><span>Latest News</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-content">
      <div class="uk-section-large uk-container">
        <div class="uk-grid" data-uk-grid>
          <div class="uk-width-2-3@m">
            <article class="article-intro">
              <div class="article-intro__image"><a href="page-blog-article.html"><img src="./assets/img/img-article-intro-1.jpg" alt="img-article"></a>
                <div class="article-intro__category">Auto repair</div>
              </div>
              <h3 class="article-intro__title">We Do Auto Repair & Car Inspection Commitment</h3>
              <div class="article-intro__info">
                <div class="article-intro__date"><i class="fas fa-calendar-alt"></i><span>January 31, 2021</span></div>
                <div class="article-intro__author"><i class="fas fa-user"></i><span>By </span><a href="#!">Smith Henry</a></div>
                <div class="article-intro__comments"><i class="fas fa-comment"></i><a href="page-blog-article.html#article-reviews" data-uk-scroll="offset: 120">43 Comments</a></div>
                <div class="article-intro__share"><i class="fas fa-share-alt"></i><a href="page-blog-article.html#article-bottom" data-uk-scroll="offset: 120">Share This</a></div>
              </div>
              <div class="article-intro__content">
                <p>Magna aliqua umt enimd mini venia quis ulamco aliquip commodo cons equat duis aute irue derit lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua sed ullamco laboris.</p>
              </div>
              <div class="article-intro__more"><a class="uk-button uk-button-default uk-button-large" href="page-blog-article.html" data-uk-icon="triangle-right">Read More</a></div>
            </article>
            <article class="article-intro">
              <div class="article-intro__image">
                <div class="video" data-uk-lightbox="video-autoplay:true; index: 1"><a href="https://www.youtube.com/watch?v=c2pz2mlSfXA" data-attrs="width: 1280; height: 720;"><img src="./assets/img/img-article-intro-2.jpg" alt="img-article"></a></div>
                <div class="article-intro__category">maintenance</div>
              </div>
              <h3 class="article-intro__title">Inadequate Engine Oil Will Cause Damage Car Parts</h3>
              <div class="article-intro__info">
                <div class="article-intro__date"><i class="fas fa-calendar-alt"></i><span>January 31, 2021</span></div>
                <div class="article-intro__author"><i class="fas fa-user"></i><span>By </span><a href="#!">Smith Henry</a></div>
                <div class="article-intro__comments"><i class="fas fa-comment"></i><a href="page-blog-article.html#article-reviews" data-uk-scroll="offset: 120">43 Comments</a></div>
                <div class="article-intro__share"><i class="fas fa-share-alt"></i><a href="page-blog-article.html#article-bottom" data-uk-scroll="offset: 120">Share This</a></div>
              </div>
              <div class="article-intro__content">
                <p>Magna aliqua umt enimd mini venia quis ulamco aliquip commodo cons equat duis aute irue derit lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua sed ullamco laboris.</p>
              </div>
              <div class="article-intro__more"><a class="uk-button uk-button-default uk-button-large" href="page-blog-article.html" data-uk-icon="triangle-right">Read More</a></div>
            </article>
            <article class="article-intro">
              <div class="article-intro__image"><a href="page-blog-article.html"><img src="./assets/img/img-article-intro-3.jpg" alt="img-article"></a>
                <div class="article-intro__category">maintenance</div>
              </div>
              <h3 class="article-intro__title">Low Tire Pressure Can Cause Uneven Wear On Tires</h3>
              <div class="article-intro__info">
                <div class="article-intro__date"><i class="fas fa-calendar-alt"></i><span>January 31, 2021</span></div>
                <div class="article-intro__author"><i class="fas fa-user"></i><span>By </span><a href="#!">Smith Henry</a></div>
                <div class="article-intro__comments"><i class="fas fa-comment"></i><a href="page-blog-article.html#article-reviews" data-uk-scroll="offset: 120">43 Comments</a></div>
                <div class="article-intro__share"><i class="fas fa-share-alt"></i><a href="page-blog-article.html#article-bottom" data-uk-scroll="offset: 120">Share This</a></div>
              </div>
              <div class="article-intro__content">
                <p>Magna aliqua umt enimd mini venia quis ulamco aliquip commodo cons equat duis aute irue derit lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua sed ullamco laboris.</p>
              </div>
              <div class="article-intro__more"><a class="uk-button uk-button-default uk-button-large" href="page-blog-article.html" data-uk-icon="triangle-right">Read More</a></div>
            </article>
            <article class="article-intro">
              <div class="article-intro__image">
                <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" data-uk-slideshow>
                  <ul class="uk-slideshow-items">
                    <li><img src="./assets/img/img-article-intro-4.jpg" alt data-uk-cover></li>
                    <li><img src="./assets/img/img-article-intro-3.jpg" alt data-uk-cover></li>
                    <li><img src="./assets/img/img-article-intro-2.jpg" alt data-uk-cover></li>
                    <li><img src="./assets/img/img-article-intro-1.jpg" alt data-uk-cover></li>
                  </ul><a class="uk-position-center-left" href="#" data-uk-slidenav-previous data-uk-slideshow-item="previous"></a><a class="uk-position-center-right" href="#" data-uk-slidenav-next data-uk-slideshow-item="next"></a>
                </div>
                <div class="article-intro__category">maintenance</div>
              </div>
              <h3 class="article-intro__title">Specialist In Servicing Wide Range Of Car Models</h3>
              <div class="article-intro__info">
                <div class="article-intro__date"><i class="fas fa-calendar-alt"></i><span>January 31, 2021</span></div>
                <div class="article-intro__author"><i class="fas fa-user"></i><span>By </span><a href="#!">Smith Henry</a></div>
                <div class="article-intro__comments"><i class="fas fa-comment"></i><a href="page-blog-article.html#article-reviews" data-uk-scroll="offset: 120">43 Comments</a></div>
                <div class="article-intro__share"><i class="fas fa-share-alt"></i><a href="page-blog-article.html#article-bottom" data-uk-scroll="offset: 120">Share This</a></div>
              </div>
              <div class="article-intro__content">
                <p>Magna aliqua umt enimd mini venia quis ulamco aliquip commodo cons equat duis aute irue derit lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua sed ullamco laboris.</p>
              </div>
              <div class="article-intro__more"><a class="uk-button uk-button-default uk-button-large" href="page-blog-article.html" data-uk-icon="triangle-right">Read More</a></div>
            </article>
            <ul class="uk-pagination uk-flex-center uk-margin-large-top">
              <li class="uk-active"><span>1</span></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
            </ul>
          </div>
          <div class="uk-width-1-3@m">
            <aside class="sidebar">
              <div class="widjet widjet-search">
                <h4 class="widjet__title">Search Blog</h4>
                <form class="uk-search uk-search-default" action="#!"><button class="uk-search-icon-flip" data-uk-search-icon type="submit"></button><input class="uk-input uk-search-input uk-form-large" type="search" placeholder="Type Keyword"></form>
              </div>
              <div class="widjet widjet-category">
                <h4 class="widjet__title">Categories</h4>
                <ul class="list-category list-checked">
                  <li> <a href="#!">Air Pressure Check</a></li>
                  <li> <a href="#!">Exhaust Fitting</a></li>
                  <li> <a href="#!">Vehicle Inspection</a></li>
                  <li> <a href="#!">Engine Overhaul</a></li>
                  <li> <a href="#!">Wheel Alignment</a></li>
                  <li> <a href="#!">Suspension Repair</a></li>
                </ul>
              </div>
              <div class="widjet widjet-list-articles">
                <h4 class="widjet__title">Top Articles</h4>
                <ul class="list-articles">
                  <li class="list-articles-item"><a class="list-articles-item__link" href="#!">
                      <div class="list-articles-item__img"><img src="./assets/img/img-article-thumb-1.jpg" alt="article-thumb"></div>
                      <div class="list-articles-item__info">
                        <div class="list-articles-item__title">We do car repair and Inspection Commitment</div>
                        <div class="list-articles-item__date">Posted: January 3, 2020</div>
                      </div>
                    </a></li>
                  <li class="list-articles-item"><a class="list-articles-item__link" href="#!">
                      <div class="list-articles-item__img"><img src="./assets/img/img-article-thumb-2.jpg" alt="article-thumb"></div>
                      <div class="list-articles-item__info">
                        <div class="list-articles-item__title">The generator components which you should know</div>
                        <div class="list-articles-item__date">Posted: January 3, 2020</div>
                      </div>
                    </a></li>
                  <li class="list-articles-item"><a class="list-articles-item__link" href="#!">
                      <div class="list-articles-item__img"><img src="./assets/img/img-article-thumb-3.jpg" alt="article-thumb"></div>
                      <div class="list-articles-item__info">
                        <div class="list-articles-item__title">Inadequate engine oil cause damage to the parts</div>
                        <div class="list-articles-item__date">Posted: January 3, 2020</div>
                      </div>
                    </a></li>
                </ul>
              </div>
              <div class="widjet widjet-gallery">
                <h4 class="widjet__title">Projects Gallery</h4>
                <div class="uk-grid uk-grid-collapse uk-child-width-1-3" data-uk-grid>
                  <div><img src="assets/img/gallery-1.jpg" alt="gallery"></div>
                  <div><img src="assets/img/gallery-2.jpg" alt="gallery"></div>
                  <div><img src="assets/img/gallery-3.jpg" alt="gallery"></div>
                  <div><img src="assets/img/gallery-4.jpg" alt="gallery"></div>
                  <div><img src="assets/img/gallery-5.jpg" alt="gallery"></div>
                  <div><img src="assets/img/gallery-6.jpg" alt="gallery"></div>
                  <div><img src="assets/img/gallery-7.jpg" alt="gallery"></div>
                  <div><img src="assets/img/gallery-8.jpg" alt="gallery"></div>
                  <div><img src="assets/img/gallery-9.jpg" alt="gallery"></div>
                </div>
              </div>
              <div class="widjet widjet-tags-cloud">
                <h4 class="widjet__title">Tags Cloud</h4>
                <ul class="tags-list">
                  <li><a href="#!">engine</a></li>
                  <li> <a href="#!">car repair</a></li>
                  <li><a href="#!">Tyre change</a></li>
                  <li><a href="#!">covid-19</a></li>
                  <li> <a href="#!">workshop</a></li>
                  <li><a href="#!">damage</a></li>
                  <li><a href="#!">Transmission</a></li>
                  <li><a href="#!">shocks</a></li>
                </ul>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </div>
    <div class="section-subscribe">
      <div class="section-subscribe__content">
        <div class="uk-container">
          <div class="subscribe-box">
            <div class="uk-grid uk-flex-middle uk-child-width-1-2@m" data-uk-grid>
              <div>
                <div class="section-title">
                  <div class="uk-h2">Newsletter Subscription</div><span>Get Latest Auto News & Updates Directly To Inbox</span>
                </div>
              </div>
              <div>
                <div class="subscribe-box__form">
                  <form action="#!">
                    <div class="uk-flex uk-flex-middle"><input class="uk-input uk-form-large" type="email" name="email" placeholder="Write your email ..."><button class="uk-button uk-button-danger uk-button-large" type="submit" data-uk-icon="triangle-right">Subscribe</button></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>