<main class="page-main">
    <div class="section-first-screen">
      <div class="section-first-screen__shape">
        <div class="section-first-screen__content" style="background-image: url(assets/img/bg-page-blog.jpg)">
          <div class="uk-container">
            <h1 class="section-first-screen__title">Typography</h1>
            <div class="section-first-screen__breadcrumb">
              <ul class="uk-breadcrumb">
                <li><a routerLink="/pages/home">Home</a></li>
                <li><span>Typography</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-content">
      <div class="uk-section-large uk-container">
        <div class="uk-grid" data-uk-grid>
          <div class="uk-width-3-3@m">
          
              <article class="article-full">


                <p>Dolor sit amet, consectetur adipiscing elit. Ut sed bibendum leo. Mauris mau massa, eleifend et <a href="/">purus vel feugiat rutrum</a> . Cras vitae est vel ipsum fau bus fermentum a ultricies urna cum sociis.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Ut sed bibendum leo. Mauris ma massa eleifend et purus vel feugiat rutrum nulla cras vitae est vel ipsum faucibus ferme aultricies urna cum sociis natoque penatibus.</p>




                <p>Famur sit amet consectetur adipiscing elit ut sed bibenum leo. Mauris mauris as sa eleifend et purus vel feugiat rutrum nulla.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Ut sed bibendum leo mauris massa, eleifend et purus vel, feugiat rutrum nulla cras vitae est vel ipsum faucibus ferm aultricies urna dum sociis natoque penatibus et magnis.</p>


                <ul class="list list-mark-1">
                    <li>Phasellus sit amet velit auctor turpis rhoncus.</li>
                    <li>Phasellus sed dolor sodales eleifend ipsum eu.</li>
                    <li>Nullam id dolor in ex eleifend tempus.</li>
                    <li>Etiam id lorem vel neque faucibus fermentum.</li>
                    <li>Nunc tincidunt augue in enim sollicitudin feugiat.</li>
                </ul>



                <p>Dolor sit amet, consectetur adipiscing elit. Ut sed bibendum leo. Mauris mau massa, eleifend et purus vel feugiat rutrum nulla. Cras vitae est vel ipsum fau bus fermentum a ultricies urna cum sociis.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Ut sed bibendum leo. Mauris ma massa eleifend et purus vel feugiat rutrum nulla cras vitae est vel ipsum faucibus ferme aultricies urna cum sociis natoque penatibus.</p>

                <p>Famur sit amet consectetur adipiscing elit ut sed bibenum leo. Mauris mauris as sa eleifend et purus vel feugiat rutrum nulla.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Ut sed bibendum leo mauris massa, eleifend et purus vel, feugiat rutrum nulla cras vitae est vel ipsum faucibus ferm aultricies urna dum sociis natoque penatibus et magnis.</p>

                <h1>H1. heading</h1>
                <h2>H2. heading</h2>
                <h3>H3. heading</h3>
                <h4>H4. heading</h4>
                <h5>H5. heading</h5>
                <h6>H6. heading</h6>


            </article>
              
              
          </div>
       
            
        </div>
      </div>
    </div>
    <div class="section-subscribe">
      <div class="section-subscribe__content">
        <div class="uk-container">
          <div class="subscribe-box">
            <div class="uk-grid uk-flex-middle uk-child-width-1-2@m" data-uk-grid>
              <div>
                <div class="section-title">
                  <div class="uk-h2">Newsletter Subscription</div><span>Get Latest Auto News & Updates Directly To Inbox</span>
                </div>
              </div>
              <div>
                <div class="subscribe-box__form">
                  <form action="#!">
                    <div class="uk-flex uk-flex-middle"><input class="uk-input uk-form-large" type="email" name="email" placeholder="Write your email ..."><button class="uk-button uk-button-danger uk-button-large" type="submit" data-uk-icon="triangle-right">Subscribe</button></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>