<main class="page-main">
    <div class="section-first-screen">
        <div class="section-first-screen__shape">
            <div class="section-first-screen__content" style="background-image: url(assets/img/bg-page-blog.jpg)">
                <div class="uk-container">
                    <h1 class="section-first-screen__title">Terms & Conditions</h1>
                    <div class="section-first-screen__breadcrumb">
                        <ul class="uk-breadcrumb">
                            <li><a routerLink="/pages/home">Home</a></li>
                            <li><span>Terms of Use</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="uk-section-large uk-container">
            <div class="uk-grid" data-uk-grid>
                <div class="uk-width-3-3@m">

                    <article class="article-full">
                        <div>
                            <h6><b>LAST UPDATED: OCT. 2020</b></h6>
                            <p>PLEASE READ THESE TERMS OF USE CAREFULLY. BY ACCESSING, BROWSING OR IN
                                ANY WAY TRANSACTING ON THE THE WEBSITE -WWW.SCRAPOTO.COM AND/OR
                                MOBILE APPLICATION AND/OR ANY OF THE SERVICES, FEATURES AND
                                CONTENT THEREIN (COLLECTIVELY REFERRED TO AS <b>“SERVICES”</b>) OF
                                SCRAPOTO INDIA PVT LTD (<b>“SCRAPOTO”</b> OR <b>“WE”</b> ), YOU AS A USER AGREE TO
                                THESE TERMS OF USE READ TOGETHER WITH VARIOUS POLICIES INCLUDING
                                BUT NOT LIMITED TO THE PRIVACY POLICY AS AVAILABLE ON THE WEBSITE
                                AND APPLICATION. YOU AGREE TO BE BOUND BY THE TERMS DESCRIBED
                                HEREIN. IF YOU DO NOT AGREE TO ANY OF THESE TERMS, DO NOT USE THE
                                WEBSITE OR APPLICATION AS THE CASE MAY BE.
                            </p>
                            <p><i>
                                    This document is an electronic record in terms of the Information Technology Act,
                                    2000 and the rules
                                    thereunder (“IT Act”) as applicable and the provisions pertaining to electronic
                                    records in various
                                    statutes as amended by the IT Act and is published in accordance with the provisions
                                    of Rule 3 (1) of
                                    the Information Technology (Intermediaries guidelines) Rules, 2011 as amended from
                                    time to time,
                                    that require publishing the rules and regulations, privacy policy and Terms of Use
                                    for access or usage
                                    of the Website and Application. This electronic record is generated by a computer
                                    system and does not
                                    require any physical or digital signatures. Further, this document is governed by
                                    (a)the Indian
                                    Contract Act, 1872 (“Contract Act”) and b) Consumer Protection Act 2019 including
                                    the Rules,
                                    Regulations and notifications from time to time;

                                </i></p>
                        </div>
                        <div>
                            <p>We enhance and update the Website and Application. We may change or discontinue the current 
                                Terms of use, the Application or Services at any time, with or without notice to you. You can 
                                determine the applicable terms by referring to the "LAST UPDATED" legend above. It shall be your 
                                responsibility to check the terms periodically for changes. We may require you to provide your 
                                consent to the updated terms in a specified manner before any further use of the Services is permitted. 
                                If no such separate consent is sought, your continued use or access of the Website and/or Application, 
                                following changes to these terms, will constitute your acceptance of those changes.
                            </p>
                            <ul class="first-terms">
                                <li><p>
                                    <b>(i)</b> The domain name www.scrapoto.com, an internet based portal, and a mobile application, is 
                                    owned and operated by Scrapoto India Pvt Ltd, a company duly incorporated under the 
                                    provisions of the Companies Act, 1956. Hereinafter, the domain name and the mobile 
                                    application are collectively referred to as <b>“Website”</b>.
                                </p>
                                </li>
                                <li><p>
                                    <b>(ii)</b> The Website is a platform that acts as a classified publishing platform and enables transaction 
                                    facilitation service and will charge a stated commission for each completed transaction. We 
                                    are not engaged in the business of deregistering or cancellation of registration certificate of 
                                    vehicles and it is done by Regional Transport Officers only. Further the Website also serves as 
                                    an information platform and users and sellers utilize to meet and interact with another for their 
                                    transactions. The Services would be made available to such natural persons after obtaining due 
                                    registration, in accordance with the procedure as determined by us, from time to time (referred 
                                    to as <b>“You”</b> or <b>“Your”</b> or <b>“Yourself”</b> or <b>“User”</b>, which terms shall also include natural 
                                    persons who are accessing the Website merely as visitors).
                                </p></li>
                                <li>
                                    <p>
                                    <b>(iii)</b>You agree and acknowledge that Scrapoto is not and cannot be a party to or save as except as 
                                    may be provided in this document control in any manner, any transaction on the website.
                                </p></li>
                                <li><p>
                                    <b>(iv)</b>You are authorized only to view and access the content available on the Website solely for the 
                                    purposes of availing the Services, such as visiting or ordering or receiving or delivering and 
                                    communicating only as per the Terms of Use. The contents of the Website, information, text, 
                                    graphics, images, logos, button icons, software code, design, and the collection, arrangement 
                                    and assembly of content on the Website (collectively, <b>“Scrapoto Content”</b> ), are the property 
                                    of scrapoto and are protected under copyright, trademark and other Intellectual Property laws. 
                                    User shall not modify the Scrapoto Content or reproduce, display, publicly perform, distribute, 
                                    or otherwise use the Scrapoto Content in any way for any public or commercial purpose or for 
                                    personal gain.
                                    
                                </p></li>
                                <li><p>
                                    <b>(v)</b>Compliance with the Terms of Use would entitle the User to a personal, non-exclusive, non-transferable, limited privilege to access and transact on the Website
                                </p></li>
                                <li><p>
                                    <b>(vi)</b>For the purposes of transacting through the Website, the Users are required to fill the form or 
                                    to obtain registration, in accordance with the procedure established by Scrapoto in this regard. 
                                    As part of the filling form or registration process or otherwise, Scrapoto may collect the 
                                    following personal information from the Users which will be shared with Scrapping Partners:
                                </p></li>
                                <ul class="first-terms">
                                    <li>(a) Name; </li>
                                    <li>(b) User ID; </li>
                                    <li>(c) Email address; </li>
                                    <li>(d) Address (including country and ZIP/ postal code); </li>
                                    <li>(e) Gender; </li>
                                    <li>(f) Age;</li>
                                    <li>(g) Details of vehicle like chasis number, registration number, year of manufacture, brand 
                                        etc. </li>
                                    <li>(h) Photographs of RC Book; </li>
                                    <li>(i) Photographs of vehicle; </li>
                                    <li>(j) Phone number; </li>
                                    <li>(k) Password chosen by the User; </li>
                                    <li>(l) Valid financial account information; and </li>
                                    <li><p>(m) Other details as the User may volunteer </p></li>
                                   
                                </ul>
                                <li><p>
                                    <b>(vii)</b>The registration on or use/ access of the Website is only available to natural persons, other 
                                    than those who are ‘incompetent to contract’ under the Contract Act. That is, persons 
                                    including minors, un-discharged insolvents etc. are not eligible to register on, or use/ access 
                                    the Website.
                                </p></li>
                                <li><p>
                                    <b>(viii)</b> A registered id can only be utilized by the person whose details have been provided and 
                                    Scrapoto does not permit multiple persons to share a single log in/ registration id. However, a 
                                    registered user, being also a parent or legal guardian of a person ‘incompetent to contract’ 
                                    such as minors or persons with unsound mind, would be permitted to access and use the 
                                    Website for the purposes of purchasing drugs or other pharmaceutical products or services, on 
                                    behalf of such persons
                                </p></li>
                                <li><p>
                                    <b>(ix)</b> You shall indemnify and hold harmless Scrapoto (including its affiliates, subsidiaries, group 
                                    companies), its directors, advisors, employees, agents, partners, suppliers or content 
                                    providers, from any claim or demand, or actions including reasonable attorneys' fees, made by
                                    3
                                    any third party or penalty imposed due to or arising out of your breach of any of these Terms 
                                    of Use, Privacy Policy and other policies, or your violation of any law, rules or regulations or 
                                    the rights of a third party. Scrapoto reserves the right to assume the exclusive defence and 
                                    control of any matter otherwise subject to indemnification by you, in which event you will 
                                    assist and cooperate with us in asserting any available defences.
                                </p></li>
                                <li><p>
                                    <b>(x)</b> Scrapoto has duly formulated a policy on how it collects, uses and discloses personally 
                                    identifiable information from its users (<b>“Privacy Policy”</b>). The Privacy Policy forms an 
                                    integral part of these Terms of Use and the Users are requested to carefully read the same.
                                    
                                </p></li>
                                <li><p>
                                    <b>(xi)</b> You shall indemnify and hold harmless Scrapoto (including its affiliates, subsidiaries, group 
                                    companies), its directors, advisors, employees, agents, partners, suppliers or content providers, 
                                    from any claim or demand, or actions including reasonable attorneys' fees, made by any third 
                                    party or penalty imposed due to or arising out of your breach of any of these Terms of Use, 
                                    Privacy Policy and other policies, or your violation of any law, rules or regulations or the 
                                    rights of a third party. Scrapoto reserves the right to assume the exclusive defence and control 
                                    of any matter otherwise subject to indemnification by you, in which event you will assist and 
                                    cooperate with us in asserting any available defences.
                                    
                                </p></li>
                                <li><p>
                                    <b>(xii)</b> YOUR USE OF THE WEBSITE AND SERVICES IS SOLELY AT YOUR OWN RISK. We 
                                    do not warrant that the Website will be compatible with all hardware and software which you 
                                    may use
                                </p></li>
                                <li><p>
                                    <b>(xiii)</b>To the fullest extent permitted by law, Scrapoto excludes all warranties, conditions, terms or 
                                    representations about the accuracy or completeness of Website or the of any sites linked to the 
                                    Website. Scrapoto content are provided "AS IS", "AS AVAILABLE" and without warranty of 
                                    any kind, express or implied including, but not limited to, the implied warranties with respect 
                                    to title; non-infringement; merchantability; uninterrupted, timely, secure or error free use of 
                                    the Website or Services; and fitness for a particular purpose; and any warranties implied by 
                                    any course of performance or usage of trade; all of which are expressly disclaimed.
                                </p></li>
                                <li><p>
                                    <b>(xiv)</b> YOU UNDERSTAND AND AGREE THAT ANY MATERIAL OR INFORMATION 
                                    DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE 
                                    WEBSITE OR SERVICES, INCLUDING WITHOUT LIMITATION, IS DONE AT YOUR 
                                    OWN RISK AND THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE 
                                    IF ANY ARISING FROM DOING SO. NO ADVICE OR INFORMATION, WHETHER 
                                    ORAL OR WRITTEN, OBTAINED BY YOU FROM US OR THROUGH THE SITE OR 
                                    SERVICES WILL CREATE ANY WARRANTY NOT EXPRESSLY MADE.
                                </p></li>
                                <li><p>
                                    <b>(xv)</b>IN NO EVENT SHALL WE, NOR OUR DIRECTORS, EMPLOYEES, AGENTS, 
                                    ADVISORS, PARTNERS, SUPPLIERS OR CONTENT PROVIDERS, BE LIABLE 
                                    UNDER CONTRACT, TORT, STRICT LIABILITY, NEGLIGENCE OR ANY OTHER 
                                    LEGAL OR EQUITABLE THEORY WITH RESPECT TO THE SERVICES (I) FOR ANY 
                                    LOST PROFITS, DATA LOSS, GOODWILL, COST OF PROCUREMENT OF 
                                    SUBSTITUTE GOODS OR SERVICES, OR SPECIAL, INDIRECT, INCIDENTAL, 
                                    PUNITIVE, COMPENSATORY OR CONSEQUENTIAL DAMAGES OF ANY KIND 
                                    WHATSOEVER, SUBSTITUTE GOODS OR SERVICES (HOWEVER ARISING), (II) 
                                    FOR ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE (REGARDLESS OF THE
                                    4
                                    SOURCE), OR (III) FOR ANY DIRECT DAMAGES WILL BE LIMITED TO THE 
                                    AMOUNT RECIEVED BY US FROM YOU WITHIN THE LAST 12 MONTHS 
                                    TOWARDS THE SERVICES. THE MAXIMUM LIABILITY OF SCRAPOTP UNDER 
                                    ANY CIRCUMSTANCES SHALL NOT BE MORE THAN RUPEES ONE THOUSAND 
                                    ONLY
                                </p></li>
                                <li><p>
                                    <b>(xvi)</b> Force Majeure: Under no circumstances will we be held liable for any delay or failure in 
                                    performance due in whole or in part to any acts of nature labor disputes, strikes, acts of God, 
                                    floods, epidemic, pandemic, lightning, severe weather, shortages of materials, rationing, 
                                    inducement of any virus, Trojan or other disruptive mechanisms, any event of hacking or 
                                    illegal usage of the Website, utility or communication failures, earthquakes, war, revolution, 
                                    acts of terrorism, civil commotion, acts of public enemies, blockade, embargo or any law, 
                                    order, proclamation, regulation, ordinance, demand or requirement having legal effect of any 
                                    government or any judicial authority or representative of any such government, or any other 
                                    act whatsoever, whether similar or dissimilar to those referred to in this clause beyond our 
                                    reasonable control.. If Force Majeure event takes place that affects the performance of our 
                                    obligations under these terms of use our obligations under these terms shall be suspended for 
                                    the duration of Force Majeure event.
                                </p></li>
                                <li><p>
                                    <b>(xvii)</b>Applicable Law: These Terms shall be governed by and interpreted and construed in 
                                    accordance with the laws of India. The courts in Bengaluru shall have exclusive jurisdiction in 
                                    respect of any matters arising here from.
                                </p></li>
                                <li><p>
                                    <b>(xviii)</b>Dispute Resolution: In the event any dispute arises out of or in connection with the Terms of 
                                    Use herein, including the validity hereof, the parties hereto shall endeavour to settle such 
                                    dispute amicably in the first instance. The attempt to bring about an amicable settlement shall 
                                    be treated as having failed as soon as one of the parties hereto, after reasonable attempts, 
                                    which shall continue for not less than 15 (Fifteen) calendar days, gives a notice to this effect, 
                                    to the other party in writing. In case of such failure, the dispute shall be referred to a sole 
                                    arbitrator, who shall be appointed by Scrapoto. The arbitration proceedings shall be governed 
                                    by the Indian Arbitration and Conciliation Act, 1996 and shall be held in Bengaluru. The 
                                    language of arbitration shall be English.
                                </p></li>
                                <li><p>
                                    <b>(xix)</b>Contact Us: Please contact us for any questions or comments (including all inquiries unrelated 
                                    to copyright infringement) regarding this Wesbite
                                </p></li>
                                <li>
                                    <b>(xx)</b>Grievance officer: In accordance with Information Technology Act, 2000 and rules made 
                                    there under, the name and contact details of the Grievance Officer are provided below:
                                    <ul class="first-terms">
                                        <li> Mr. Aniket Bag</li>
                                        <li>Email: aniket@scrapoto.com</li>
                                        <li>Time: Mon - Fri (9:00 - 18:00)</li>
                                    </ul>
                                </li> 
                            </ul>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</main>