<main class="page-main">
    <div class="section-first-screen">
      <div class="section-first-screen__shape">
        <div class="section-first-screen__content" style="background-image: url(assets/img/bg-page-blog.jpg)">
          <div class="uk-container">
            <h1 class="section-first-screen__title">About Us</h1>
            <div class="section-first-screen__breadcrumb">
              <ul class="uk-breadcrumb">
                <li><a routerLink="/pages/home">Home</a></li>
                <li><span>About Us</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-about uk-section-large">
      <div class="uk-container">
        <div class="uk-grid uk-grid-small uk-child-width-1-3@l uk-child-width-1-2@s uk-flex-middle uk-flex-center" data-uk-grid>
          <div class="uk-width-1-2@m">
            <div class="">
              <div data-uk-lightbox><a href=""><img src="../../../assets/img/aboutus.jpg"
                          alt="img-about-1"></a></div>
          </div>
          </div>
          <div class="uk-width-1-2@m">
            <div class="section-title">
               <!-- <span>About Cardan Repair Services</span>  -->
               <h3 class="uk-h2">We’re Committed To <br> Meet The Quality Standards</h3>
            </div>
            <div class="section-content">
              <h5>Vehiscrap is an initiative that provides people an organised platform to scrap their old vehicles. We aim to minimise the risk of road safety that old vehicles pose. It is our effort toward road safety and environment..</h5>
              <h5>Say Goodbye to Your Scrap Car with Us! We'll help you get the most of your vehicle's remains with our top-notch car dismantling services. From convenient pick-ups to responsible disposal of parts and junk, we make scrap car disposal easy and hassle-free. Get in touch now to find out more!</h5>
            </div>
          </div>
          <!-- <div><img class="uk-width-1-1" src="../../../assets/img/img-about-2.jpg" alt="img-about-2"></div>
          <div class="uk-visible@l"><img class="uk-width-1-1" src="assets/img/img-about-3.jpg" alt="img-about-3"></div>
          <div>
            <ul class="list-checked">
              <li>Top rated excellent reviews from customers</li>
              <li>We provide new offers & promotions</li>
              <li>Expert tecnicians always at service for vehicles</li>
              <li>Get our lifetime gurantee service works</li>
              <li>Offering 1500+ services locations around USA</li>
            </ul>
          </div> -->
        </div>
      </div>
    </div>
    <!-- <div class="section-features uk-section-large">
      <div class="uk-container">
        <div data-uk-slider>
          <div class="uk-position-relative" tabindex="-1">
            <ul class="uk-slider-items uk-grid uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-3@m">
              <li>
                <div class="feature-item">
                  <div class="feature-item__icon"><img src="assets/img/ico-feature-1.svg" alt="ico-feature" data-uk-svg></div>
                  <div class="feature-item__desc">
                    <div class="feature-item__title">Modern Equipments</div>
                    <div class="feature-item__text">Enim venia quis nostrud exrcit ulamco laboris nsut aliquip com conseq reprehenderit.</div>
                    <div class="feature-item__more"> <a class="uk-button-link" href="#!" data-uk-icon="triangle-right">Read More </a></div>
                  </div>
                </div>
              </li>
              <li>
                <div class="feature-item">
                  <div class="feature-item__icon"><img src="assets/img/ico-feature-2.svg" alt="ico-feature" data-uk-svg></div>
                  <div class="feature-item__desc">
                    <div class="feature-item__title">Trusted Workshop</div>
                    <div class="feature-item__text">Enim venia quis nostrud exrcit ulamco laboris nsut aliquip com conseq reprehenderit.</div>
                    <div class="feature-item__more"> <a class="uk-button-link" href="#!" data-uk-icon="triangle-right">Read More </a></div>
                  </div>
                </div>
              </li>
              <li>
                <div class="feature-item">
                  <div class="feature-item__icon"><img src="assets/img/ico-feature-3.svg" alt="ico-feature" data-uk-svg></div>
                  <div class="feature-item__desc">
                    <div class="feature-item__title">Service Any Vehicle</div>
                    <div class="feature-item__text">Enim venia quis nostrud exrcit ulamco laboris nsut aliquip com conseq reprehenderit.</div>
                    <div class="feature-item__more"> <a class="uk-button-link" href="#!" data-uk-icon="triangle-right">Read More </a></div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin-top"></ul>
        </div>
      </div>
    </div> -->
    <!-- <div class="section-info">
      <div class="uk-section-large uk-container uk-container-xlarge">
        <div class="uk-grid uk-child-width-1-2@m" data-uk-grid>
          <div>
            <div class="section-title"> <span>Why Choose Cardan Repair Services</span>
              <h3 class="uk-h2">Master Technicians With<br> Extensive Knowledge</h3>
            </div>
            <div class="section-content">
              <p>Tempor incididunt labor sed dolore umt magna sed aliquay enim ad dolor minim veniam quisy nostrud exercitation ullamco laboris ex sed ipsum ea reprehen deritin voluptate.</p>
              <ul class="info-list uk-margin-medium-top">
                <li>
                  <div class="info-list-item">
                    <div class="info-list-item__icon"><img src="assets/img/ico-info-1.png" alt="ico-info"></div>
                    <div class="info-list-item__desc">
                      <div class="info-list-item__title">Reliable & Fast Service</div>
                      <div class="info-list-item__text">Magna sed aliqua umt derit enimd mini venia</div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="info-list-item">
                    <div class="info-list-item__icon"><img src="assets/img/ico-info-2.png" alt="ico-info"></div>
                    <div class="info-list-item__desc">
                      <div class="info-list-item__title">Right-Way Repairing</div>
                      <div class="info-list-item__text">Derit magna aliqua umts enimd mini dolor sed</div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="info-list-item">
                    <div class="info-list-item__icon"><img src="assets/img/ico-info-3.png" alt="ico-info"></div>
                    <div class="info-list-item__desc">
                      <div class="info-list-item__title">Leading Auto Specialists</div>
                      <div class="info-list-item__text">Magna aliqua sed umt enimd dolor min venia</div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div>
            <div class="info-media">
              <div class="info-media-box" data-uk-lightbox="video-autoplay: true"><a class="uk-flex uk-flex-center uk-flex-middle uk-height-1-1" href="https://www.youtube.com/watch?v=c2pz2mlSfXA" data-attrs="width: 1280; height: 720;"><img src="assets/img/ico-play.png" alt="ico-play"></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-team uk-margin-large-top">
      <div class="uk-container">
        <div class="section-title"> <span>Cardan Is Leader In Auto Repair</span>
          <div class="uk-h2">Our Expert Technicians</div>
        </div>
        <div class="section-content">
          <div data-uk-slider="">
            <div class="uk-position-relative" tabindex="-1">
              <ul class="uk-slider-items uk-grid uk-child-width-1-4@l uk-child-width-1-3@m uk-child-width-1-2@s">
                <li>
                  <div class="team-item">
                    <div class="team-item__box">
                      <div class="uk-transition-toggle" tabindex="0">
                        <div class="team-item__media uk-light uk-inline-clip"><img src="assets/img/team-1.jpg" alt="Mark Dennis">
                          <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-primary uk-flex uk-flex-center uk-flex-middle"><a class="uk-button uk-button-default" href="#!" data-uk-icon="triangle-right">Get appointment</a></div>
                        </div>
                        <div class="team-item__body">
                          <div class="team-item__name">Mark Dennis</div>
                          <div class="team-item__position">Chief Executive Officer</div>
                          <div class="team-item__social">
                            <ul class="social">
                              <li class="social-item"><a class="social-item__link" href="#!"><i class="fab fa-facebook-f"></i></a></li>
                              <li class="social-item"><a class="social-item__link" href="#!"><i class="fab fa-twitter"></i></a></li>
                              <li class="social-item"><a class="social-item__link" href="#!"><i class="fab fa-google-plus-g"></i></a></li>
                              <li class="social-item"><a class="social-item__link" href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="team-item">
                    <div class="team-item__box">
                      <div class="uk-transition-toggle" tabindex="0">
                        <div class="team-item__media uk-light uk-inline-clip"><img src="assets/img/team-2.jpg" alt="William Benson">
                          <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-primary uk-flex uk-flex-center uk-flex-middle"><a class="uk-button uk-button-default" href="#!" data-uk-icon="triangle-right">Get appointment</a></div>
                        </div>
                        <div class="team-item__body">
                          <div class="team-item__name">William Benson</div>
                          <div class="team-item__position">Workshop Manager</div>
                          <div class="team-item__social">
                            <ul class="social">
                              <li class="social-item"><a class="social-item__link" href="#!"><i class="fab fa-facebook-f"></i></a></li>
                              <li class="social-item"><a class="social-item__link" href="#!"><i class="fab fa-twitter"></i></a></li>
                              <li class="social-item"><a class="social-item__link" href="#!"><i class="fab fa-google-plus-g"></i></a></li>
                              <li class="social-item"><a class="social-item__link" href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="team-item">
                    <div class="team-item__box">
                      <div class="uk-transition-toggle" tabindex="0">
                        <div class="team-item__media uk-light uk-inline-clip"><img src="assets/img/team-3.jpg" alt="James Anderson">
                          <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-primary uk-flex uk-flex-center uk-flex-middle"><a class="uk-button uk-button-default" href="#!" data-uk-icon="triangle-right">Get appointment</a></div>
                        </div>
                        <div class="team-item__body">
                          <div class="team-item__name">James Anderson</div>
                          <div class="team-item__position">Senior Technician</div>
                          <div class="team-item__social">
                            <ul class="social">
                              <li class="social-item"><a class="social-item__link" href="#!"><i class="fab fa-facebook-f"></i></a></li>
                              <li class="social-item"><a class="social-item__link" href="#!"><i class="fab fa-twitter"></i></a></li>
                              <li class="social-item"><a class="social-item__link" href="#!"><i class="fab fa-google-plus-g"></i></a></li>
                              <li class="social-item"><a class="social-item__link" href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="team-item">
                    <div class="team-item__box">
                      <div class="uk-transition-toggle" tabindex="0">
                        <div class="team-item__media uk-light uk-inline-clip"><img src="assets/img/team-4.jpg" alt="Amelia Grace">
                          <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-primary uk-flex uk-flex-center uk-flex-middle"><a class="uk-button uk-button-default" href="#!" data-uk-icon="triangle-right">Get appointment</a></div>
                        </div>
                        <div class="team-item__body">
                          <div class="team-item__name">Amelia Grace</div>
                          <div class="team-item__position">Senior Technician</div>
                          <div class="team-item__social">
                            <ul class="social">
                              <li class="social-item"><a class="social-item__link" href="#!"><i class="fab fa-facebook-f"></i></a></li>
                              <li class="social-item"><a class="social-item__link" href="#!"><i class="fab fa-twitter"></i></a></li>
                              <li class="social-item"><a class="social-item__link" href="#!"><i class="fab fa-google-plus-g"></i></a></li>
                              <li class="social-item"><a class="social-item__link" href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="team-item">
                    <div class="team-item__box">
                      <div class="uk-transition-toggle" tabindex="0">
                        <div class="team-item__media uk-light uk-inline-clip"><img src="assets/img/team-1.jpg" alt="Mark Dennis">
                          <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-primary uk-flex uk-flex-center uk-flex-middle"><a class="uk-button uk-button-default" href="#!" data-uk-icon="triangle-right">Get appointment</a></div>
                        </div>
                        <div class="team-item__body">
                          <div class="team-item__name">Mark Dennis</div>
                          <div class="team-item__position">Chief Executive Officer</div>
                          <div class="team-item__social">
                            <ul class="social">
                              <li class="social-item"><a class="social-item__link" href="#!"><i class="fab fa-facebook-f"></i></a></li>
                              <li class="social-item"><a class="social-item__link" href="#!"><i class="fab fa-twitter"></i></a></li>
                              <li class="social-item"><a class="social-item__link" href="#!"><i class="fab fa-google-plus-g"></i></a></li>
                              <li class="social-item"><a class="social-item__link" href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="team-item">
                    <div class="team-item__box">
                      <div class="uk-transition-toggle" tabindex="0">
                        <div class="team-item__media uk-light uk-inline-clip"><img src="assets/img/team-2.jpg" alt="William Benson">
                          <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-primary uk-flex uk-flex-center uk-flex-middle"><a class="uk-button uk-button-default" href="#!" data-uk-icon="triangle-right">Get appointment</a></div>
                        </div>
                        <div class="team-item__body">
                          <div class="team-item__name">William Benson</div>
                          <div class="team-item__position">Workshop Manager</div>
                          <div class="team-item__social">
                            <ul class="social">
                              <li class="social-item"><a class="social-item__link" href="#!"><i class="fab fa-facebook-f"></i></a></li>
                              <li class="social-item"><a class="social-item__link" href="#!"><i class="fab fa-twitter"></i></a></li>
                              <li class="social-item"><a class="social-item__link" href="#!"><i class="fab fa-google-plus-g"></i></a></li>
                              <li class="social-item"><a class="social-item__link" href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="team-item">
                    <div class="team-item__box">
                      <div class="uk-transition-toggle" tabindex="0">
                        <div class="team-item__media uk-light uk-inline-clip"><img src="assets/img/team-3.jpg" alt="James Anderson">
                          <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-primary uk-flex uk-flex-center uk-flex-middle"><a class="uk-button uk-button-default" href="#!" data-uk-icon="triangle-right">Get appointment</a></div>
                        </div>
                        <div class="team-item__body">
                          <div class="team-item__name">James Anderson</div>
                          <div class="team-item__position">Senior Technician</div>
                          <div class="team-item__social">
                            <ul class="social">
                              <li class="social-item"><a class="social-item__link" href="#!"><i class="fab fa-facebook-f"></i></a></li>
                              <li class="social-item"><a class="social-item__link" href="#!"><i class="fab fa-twitter"></i></a></li>
                              <li class="social-item"><a class="social-item__link" href="#!"><i class="fab fa-google-plus-g"></i></a></li>
                              <li class="social-item"><a class="social-item__link" href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="team-item">
                    <div class="team-item__box">
                      <div class="uk-transition-toggle" tabindex="0">
                        <div class="team-item__media uk-light uk-inline-clip"><img src="assets/img/team-4.jpg" alt="Amelia Grace">
                          <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-primary uk-flex uk-flex-center uk-flex-middle"><a class="uk-button uk-button-default" href="#!" data-uk-icon="triangle-right">Get appointment</a></div>
                        </div>
                        <div class="team-item__body">
                          <div class="team-item__name">Amelia Grace</div>
                          <div class="team-item__position">Senior Technician</div>
                          <div class="team-item__social">
                            <ul class="social">
                              <li class="social-item"><a class="social-item__link" href="#!"><i class="fab fa-facebook-f"></i></a></li>
                              <li class="social-item"><a class="social-item__link" href="#!"><i class="fab fa-twitter"></i></a></li>
                              <li class="social-item"><a class="social-item__link" href="#!"><i class="fab fa-google-plus-g"></i></a></li>
                              <li class="social-item"><a class="social-item__link" href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="slider-arrows uk-flex uk-flex-center uk-flex-middle uk-margin-top"><a class="slider-custome-nav" href="#" data-uk-slider-item="previous" data-uk-icon="arrow-left"></a><a class="slider-custome-nav" href="#" data-uk-slider-item="next" data-uk-icon="arrow-right"></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-partners uk-section-large">
      <div class="uk-container">
        <div class="partners-title">
          <h3 class="uk-h2">CARDAN</h3><span>Trusted by our millions of satisfied partners</span>
        </div>
        <div data-uk-slider>
          <div class="uk-position-relative" tabindex="-1">
            <ul class="uk-slider-items uk-grid uk-child-width-1-1 uk-child-width-1-3@s uk-child-width-1-4@m uk-child-width-1-5@l uk-flex-middle uk-text-center">
              <li><img src="assets/img/img-partner-1.png" alt="partner-logo"></li>
              <li><img src="assets/img/img-partner-2.png" alt="partner-logo"></li>
              <li><img src="assets/img/img-partner-3.png" alt="partner-logo"></li>
              <li><img src="assets/img/img-partner-4.png" alt="partner-logo"></li>
              <li><img src="assets/img/img-partner-5.png" alt="partner-logo"></li>
            </ul>
          </div>
          <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin-medium-top"></ul>
        </div>
      </div>
    </div> -->
  </main>