<main class="page-main">
    <div class="section-first-screen">
      <div class="section-first-screen__shape">
        <div class="section-first-screen__content" style="background-image: url(assets/img/bg-page-service-full.jpg)">
          <div class="uk-container uk-container-xlarge">
            <div class="service-info">
              <div class="service-info__left">
                <div><img class="service-info__logo" src="assets/img/img-service-logo.png" alt="img-service-logo"></div>
                <div>
                  <div class="service-info__shop"> <a href="#!">Cardan Workshop</a></div>
                  <div class="service-info__title">Engine or Transmission Mount Replacement</div>
                  <div class="service-info__adress"><i class="fas fa-globe-americas"></i><span>567 Little Lonsdale St, Melbourne VIC 3000, Australia</span></div>
                </div>
              </div>
              <div class="service-info__right">
                <div class="service-info__stars"> <img src="assets/img/ico-service-stars.png" alt="service-stars"><span>Based on 24 Reviews</span></div>
                <div class="service-info__numb">4.2</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-content">
      <div class="uk-section-large uk-container">
        <div class="uk-grid" data-uk-grid>
          <div class="uk-width-2-3@m">
            <article class="article-full">
              <div class="article-full__image" data-uk-lightbox><a href="./assets/img/img-service-full.jpg"><img src="./assets/img/img-service-full.jpg" alt=""></a></div>
              <h1 class="article-full__title">What is the Engine Mount in car?</h1>
              <div class="article-full__content">
                <p>Magna aliqua umt enimd mini venia quis ulamco aliquip commodo cons equat duis aute irue derit lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua sed ullamco laboris. Lorem ipsum dolor sit amet cons ectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                <p>Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt.</p>
                <div class="uk-grid uk-grid-medium uk-child-width-1-2@s uk-margin-medium" data-uk-grid data-uk-lightbox>
                  <div><a href="./assets/img/img-article-gallery-1.jpg"><img class="uk-width-1-1" src="./assets/img/img-article-gallery-1.jpg" alt="gallery"></a></div>
                  <div><a href="./assets/img/img-article-gallery-2.jpg"><img class="uk-width-1-1" src="./assets/img/img-article-gallery-2.jpg" alt="gallery"></a></div>
                </div>
                <h3>Types of Engine Mounts That You Must Know</h3>
                <p>Mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem ac usantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore ver itatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                <ul class="list-checked">
                  <li>Nostrud exercitation ullamco laboris</li>
                  <li>Ut aliquip ex ea reprehen deritin voluptate</li>
                  <li>Adipisicing elit sed eiusmod tempor incididunt</li>
                  <li>Labore dolore magna aliqua veniam nostrud</li>
                </ul>
                <h3>How important is this service?</h3>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia conses ur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, quit dolorem ipsum quia dolor sit amet consectetur adipisci velit sed quia eius.</p>
                <div class="uk-margin-medium-top">
                  <div class="latest-tech-box">
                    <div class="uk-grid uk-flex-middle" data-uk-grid>
                      <div class="uk-width-2-5@m"><img src="assets/img/img-latest-tech.png" alt="img-latest-tech"></div>
                      <div class="uk-width-3-5@m">
                        <div class="uk-h4">Fast & Easy Car Service at your Place</div>
                        <p>We gurantee if you come at Cardan, your warranty will stay intact, right place to repair.</p><a class="uk-button uk-button-danger uk-button-large" href="#!" data-uk-icon="triangle-right">Get services</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="section-article-reviews" id="article-reviews">
                <div class="section-title">
                  <div class="uk-h2">Service Reviews</div>
                </div>
                <div class="comment-item-box">
                  <div class="comment-item">
                    <div class="comment-item__user"> <img src="assets/img/avatar-comment-1.png" alt="avatar-comment">
                      <div class="comment-item__user-name">Donald James</div>
                    </div>
                    <div class="comment-item__desc">
                      <div class="comment-item__head">
                        <div>
                          <div class="comment-item__rating"><img src="assets/img/ico-comment-stars.svg" alt="comment-stars"><span>Rating: <b>4.5 / 5.0</b></span></div>
                        </div>
                        <div>
                          <div class="comment-item__date">Published: <b>7 January 2021</b></div>
                        </div>
                      </div>
                      <div class="comment-item__body">
                        <div class="comment-item__title"> <b>“Satisfied With The Workshop Facilities Cardan Workshop”</b></div>
                        <p>Incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis ation ullamco laboris nisi ut aliquip ex ea comodo consequat. Duis aute irur enderit luptate velit es cillum dolore eu fugiat nulla pariatur.</p>
                      </div>
                      <div class="comment-item__btn"><a class="uk-button uk-button-danger" href="#!" data-uk-icon="triangle-right">Reply</a></div>
                    </div>
                  </div>
                  <div class="comment-item comment-item--reply">
                    <div class="comment-item__user"> <img src="assets/img/avatar-comment-2.png" alt="avatar-comment">
                      <div class="comment-item__user-name">Sarah James</div>
                    </div>
                    <div class="comment-item__desc">
                      <div class="comment-item__body">
                        <div class="comment-item__title"> <span>Reply from</span><b>“Engine or tramsmission Mount Replacement”</b></div>
                        <p>Labore aet dolore magna aliqua. Ut enim adm minim veniam quis ullamco laboris nisi ut aliquip ex eatec comod consequat. Duis aute enderit luptate velit es cillum dolore.</p>
                      </div>
                      <div class="comment-item__btn"><a class="uk-button uk-button-danger" href="#!" data-uk-icon="triangle-right">Reply</a></div>
                    </div>
                  </div>
                </div>
                <div class="comment-item-box">
                  <div class="comment-item">
                    <div class="comment-item__user"> <img src="assets/img/avatar-comment-1.png" alt="avatar-comment">
                      <div class="comment-item__user-name">Donald James</div>
                    </div>
                    <div class="comment-item__desc">
                      <div class="comment-item__head">
                        <div>
                          <div class="comment-item__rating"><img src="assets/img/ico-comment-stars.svg" alt="comment-stars"><span>Rating: <b>4.5 / 5.0</b></span></div>
                        </div>
                        <div>
                          <div class="comment-item__date">Published: <b>7 January 2021</b></div>
                        </div>
                      </div>
                      <div class="comment-item__body">
                        <div class="comment-item__title"> <b>“Satisfied With The Workshop Facilities Cardan Workshop”</b></div>
                        <p>Incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis ation ullamco laboris nisi ut aliquip ex ea comodo consequat. Duis aute irur enderit luptate velit es cillum dolore eu fugiat nulla pariatur.</p>
                      </div>
                      <div class="comment-item__btn"><a class="uk-button uk-button-danger" href="#!" data-uk-icon="triangle-right">Reply</a></div>
                    </div>
                  </div>
                </div>
                <div class="block-form">
                  <div class="section-title">
                    <div class="uk-h2">Add Your Review</div>
                  </div>
                  <div class="section-content">
                    <form action="#!">
                      <div class="uk-grid uk-grid-small uk-child-width-1-2@s" data-uk-grid>
                        <div class="uk-width-1-1"><input class="uk-input uk-form-large" type="text" placeholder="Review Title"></div>
                        <div><input class="uk-input uk-form-large" type="text" placeholder="Name *"></div>
                        <div><input class="uk-input uk-form-large" type="text" placeholder="Email *"></div>
                        <div class="uk-width-1-1"><textarea class="uk-textarea uk-form-large" placeholder="Write a Review *"></textarea></div>
                        <div class="uk-width-1-1"><label> <input class="uk-checkbox" type="checkbox"><span class="uk-margin-small-left">Save my name, email, and website in this browser for the next time I comment.</span></label></div>
                        <div><button class="uk-button uk-button-danger uk-button-large" type="submit">Send comment</button></div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </article>
          </div>
          <div class="uk-width-1-3@m">
            <aside>
              <div class="widjet widjet-map"> <iframe class="uk-width-1-1 uk-height-medium" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12233.178242503007!2d-75.12062315790071!3d39.9571665186268!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6c8f752067afb%3A0x31a9a3edb6f9b368!2z0JrQsNC80LTQtdC9LCDQndGM0Y4t0JTQttC10YDRgdC4IDA4MTAyLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1608217970812!5m2!1sru!2sua"></iframe></div>
              <div class="widjet widjet-contacts">
                <h4 class="widjet__title">Contact Details</h4>
                <ul class="contacts-list">
                  <li class="contacts-list-item">
                    <div class="contacts-list-item__icon"><img src="assets/img/ico-contact-1.svg" data-uk-svg alt="HeadOffice Address"></div>
                    <div class="contacts-list-item__desc">
                      <div class="contacts-list-item__label">HeadOffice Address</div>
                      <div class="contacts-list-item__content">354 Oakridge Lane, Camden NJ 08102 - USA</div>
                    </div>
                  </li>
                  <li class="contacts-list-item">
                    <div class="contacts-list-item__icon"><img src="assets/img/ico-contact-2.svg" data-uk-svg alt="For Rental Support"></div>
                    <div class="contacts-list-item__desc">
                      <div class="contacts-list-item__label">For Rental Support</div>
                      <div class="contacts-list-item__content"><a href="tel:18107994660/5660">+1 (810) 799 4660 / 5660</a></div>
                    </div>
                  </li>
                  <li class="contacts-list-item">
                    <div class="contacts-list-item__icon"><img src="assets/img/ico-contact-3.svg" data-uk-svg alt="The Office Hours"></div>
                    <div class="contacts-list-item__desc">
                      <div class="contacts-list-item__label">The Office Hours</div>
                      <div class="contacts-list-item__content">Mon - Sat 9am to 7pm</div>
                    </div>
                  </li>
                  <li class="contacts-list-item">
                    <div class="contacts-list-item__icon"><img src="assets/img/ico-contact-4.svg" data-uk-svg alt="Send Us Email"></div>
                    <div class="contacts-list-item__desc">
                      <div class="contacts-list-item__label">Send Us Email</div>
                      <div class="contacts-list-item__content"> <a href="mailto:repair@my-domain.net">repair@my-domain.net</a></div>
                    </div>
                  </li>
                </ul>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </div>
    <div class="section-subscribe">
      <div class="section-subscribe__content">
        <div class="uk-container">
          <div class="subscribe-box">
            <div class="uk-grid uk-flex-middle uk-child-width-1-2@m" data-uk-grid>
              <div>
                <div class="section-title">
                  <div class="uk-h2">Newsletter Subscription</div><span>Get Latest Auto News & Updates Directly To Inbox</span>
                </div>
              </div>
              <div>
                <div class="subscribe-box__form">
                  <form action="#!">
                    <div class="uk-flex uk-flex-middle"><input class="uk-input uk-form-large" type="email" name="email" placeholder="Write your email ..."><button class="uk-button uk-button-danger uk-button-large" type="submit" data-uk-icon="triangle-right">Subscribe</button></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>