<main class="page-main">
    <div class="section-first-screen">
      <div class="section-first-screen__shape">
        <div class="section-first-screen__content" style="background-image: url(assets/img/bg-page-services.jpg)">
          <div class="uk-container">
            <h1 class="section-first-screen__title">All Services</h1>
            <div class="section-first-screen__breadcrumb">
              <ul class="uk-breadcrumb">
                <li><a routerLink="/pages/home">Home</a></li>
                <li><span>What We Do</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-content">
      <div class="uk-section-large uk-container">
        <div class="uk-grid uk-grid-medium uk-child-width-1-2@s uk-child-width-1-3@m" data-uk-grid>
          <div>
            <div class="service-item">
              <div class="service-item__media uk-inline-clip uk-transition-toggle uk-light"><a href="page-services-article.html"><img src="assets/img/img-service-1.jpg" alt="">
                  <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-primary uk-flex uk-flex-center uk-flex-middle"><span data-uk-icon="icon: plus; ratio: 2"></span></div>
                </a></div>
              <div class="service-item__info">
                <div>
                  <div class="service-item__title">Vehicle Diagnostic</div>
                  <div class="service-item__price">Starting from <b>$79.99</b></div>
                </div>
                <div><a class="service-item__icon" href="page-services-article.html" data-uk-icon="triangle-right"></a></div>
              </div>
            </div>
          </div>
          <div>
            <div class="service-item">
              <div class="service-item__media uk-inline-clip uk-transition-toggle uk-light"><a href="page-services-article.html"><img src="assets/img/img-service-2.jpg" alt="">
                  <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-primary uk-flex uk-flex-center uk-flex-middle"><span data-uk-icon="icon: plus; ratio: 2"></span></div>
                </a></div>
              <div class="service-item__info">
                <div>
                  <div class="service-item__title">Engine (Under Hood)</div>
                  <div class="service-item__price">Starting from <b>$79.99</b></div>
                </div>
                <div><a class="service-item__icon" href="page-services-article.html" data-uk-icon="triangle-right"></a></div>
              </div>
            </div>
          </div>
          <div>
            <div class="service-item">
              <div class="service-item__media uk-inline-clip uk-transition-toggle uk-light"><a href="page-services-article.html"><img src="assets/img/img-service-3.jpg" alt="">
                  <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-primary uk-flex uk-flex-center uk-flex-middle"><span data-uk-icon="icon: plus; ratio: 2"></span></div>
                </a></div>
              <div class="service-item__info">
                <div>
                  <div class="service-item__title">AC And Heating</div>
                  <div class="service-item__price">Starting from <b>$79.99</b></div>
                </div>
                <div><a class="service-item__icon" href="page-services-article.html" data-uk-icon="triangle-right"></a></div>
              </div>
            </div>
          </div>
          <div>
            <div class="service-item">
              <div class="service-item__media uk-inline-clip uk-transition-toggle uk-light"><a href="page-services-article.html"><img src="assets/img/img-service-4.jpg" alt="">
                  <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-primary uk-flex uk-flex-center uk-flex-middle"><span data-uk-icon="icon: plus; ratio: 2"></span></div>
                </a></div>
              <div class="service-item__info">
                <div>
                  <div class="service-item__title">Belts And Brakes</div>
                  <div class="service-item__price">Starting from <b>$79.99</b></div>
                </div>
                <div><a class="service-item__icon" href="page-services-article.html" data-uk-icon="triangle-right"></a></div>
              </div>
            </div>
          </div>
          <div>
            <div class="service-item">
              <div class="service-item__media uk-inline-clip uk-transition-toggle uk-light"><a href="page-services-article.html"><img src="assets/img/img-service-5.jpg" alt="">
                  <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-primary uk-flex uk-flex-center uk-flex-middle"><span data-uk-icon="icon: plus; ratio: 2"></span></div>
                </a></div>
              <div class="service-item__info">
                <div>
                  <div class="service-item__title">Exhaust Systems</div>
                  <div class="service-item__price">Starting from <b>$79.99</b></div>
                </div>
                <div><a class="service-item__icon" href="page-services-article.html" data-uk-icon="triangle-right"></a></div>
              </div>
            </div>
          </div>
          <div>
            <div class="service-item">
              <div class="service-item__media uk-inline-clip uk-transition-toggle uk-light"><a href="page-services-article.html"><img src="assets/img/img-service-6.jpg" alt="">
                  <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-primary uk-flex uk-flex-center uk-flex-middle"><span data-uk-icon="icon: plus; ratio: 2"></span></div>
                </a></div>
              <div class="service-item__info">
                <div>
                  <div class="service-item__title">Lights And Ignition</div>
                  <div class="service-item__price">Starting from <b>$79.99</b></div>
                </div>
                <div><a class="service-item__icon" href="page-services-article.html" data-uk-icon="triangle-right"></a></div>
              </div>
            </div>
          </div>
          <div>
            <div class="service-item">
              <div class="service-item__media uk-inline-clip uk-transition-toggle uk-light"><a href="page-services-article.html"><img src="assets/img/img-service-7.jpg" alt="">
                  <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-primary uk-flex uk-flex-center uk-flex-middle"><span data-uk-icon="icon: plus; ratio: 2"></span></div>
                </a></div>
              <div class="service-item__info">
                <div>
                  <div class="service-item__title">Clutch Transmission</div>
                  <div class="service-item__price">Starting from <b>$79.99</b></div>
                </div>
                <div><a class="service-item__icon" href="page-services-article.html" data-uk-icon="triangle-right"></a></div>
              </div>
            </div>
          </div>
          <div>
            <div class="service-item">
              <div class="service-item__media uk-inline-clip uk-transition-toggle uk-light"><a href="page-services-article.html"><img src="assets/img/img-service-8.jpg" alt="">
                  <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-primary uk-flex uk-flex-center uk-flex-middle"><span data-uk-icon="icon: plus; ratio: 2"></span></div>
                </a></div>
              <div class="service-item__info">
                <div>
                  <div class="service-item__title">Wheels Alignment</div>
                  <div class="service-item__price">Starting from <b>$79.99</b></div>
                </div>
                <div><a class="service-item__icon" href="page-services-article.html" data-uk-icon="triangle-right"></a></div>
              </div>
            </div>
          </div>
          <div>
            <div class="service-item">
              <div class="service-item__media uk-inline-clip uk-transition-toggle uk-light"><a href="page-services-article.html"><img src="assets/img/img-service-9.jpg" alt="">
                  <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-primary uk-flex uk-flex-center uk-flex-middle"><span data-uk-icon="icon: plus; ratio: 2"></span></div>
                </a></div>
              <div class="service-item__info">
                <div>
                  <div class="service-item__title">Auto Fuel System</div>
                  <div class="service-item__price">Starting from <b>$79.99</b></div>
                </div>
                <div><a class="service-item__icon" href="page-services-article.html" data-uk-icon="triangle-right"></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-subscribe">
      <div class="section-subscribe__content">
        <div class="uk-container">
          <div class="subscribe-box">
            <div class="uk-grid uk-flex-middle uk-child-width-1-2@m" data-uk-grid>
              <div>
                <div class="section-title">
                  <div class="uk-h2">Newsletter Subscription</div><span>Get Latest Auto News & Updates Directly To Inbox</span>
                </div>
              </div>
              <div>
                <div class="subscribe-box__form">
                  <form action="#!">
                    <div class="uk-flex uk-flex-middle"><input class="uk-input uk-form-large" type="email" name="email" placeholder="Write your email ..."><button class="uk-button uk-button-danger uk-button-large" type="submit" data-uk-icon="triangle-right">Subscribe</button></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>