<main class="page-main">
    <div class="section-first-screen">
      <div class="section-first-screen__shape">
        <div class="section-first-screen__content" style="background-image: url(assets/img/bg-page-services.jpg)">
          <div class="uk-container">
            <div class="section-first-screen__box">
              <div>
                <h1 class="section-first-screen__title">All Services</h1>
                <div class="section-first-screen__breadcrumb">
                  <ul class="uk-breadcrumb">
                    <li><a routerLink="/pages/home">Home</a></li>
                    <li><span>What We Do</span></li>
                  </ul>
                </div>
              </div>
              <div>
                <div class="section-first-screen__search">
                  <div class="section-first-screen__search-title">Quickly find a service ... </div>
                  <form action="#!">
                    <div class="uk-flex uk-flex-middle"><input class="uk-input uk-form-large" type="email" name="email" placeholder="Quickly find a service ..."><button class="uk-button uk-button-danger uk-button-large" type="submit" data-uk-icon="search"></button></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-content">
      <div class="uk-section-large uk-container uk-container-large">
        <div class="service-item-list">
          <div class="service-item-list__media"> <a href="page-services-article.html"><img src="assets/img/img-service-list-1.jpg" alt="img-service-list"></a></div>
          <div class="service-item-list__desc">
            <div class="service-item-list__head">
              <div class="service-item-list__icon"><img src="assets/img/ico-service-title.png" alt="ico-service-title"></div>
              <div class="service-item-list__title">
                <div class="uk-h3"> <a href="page-services-article.html">Vehicle Diagnostics</a></div>
                <p>Auto diagnostic services starts from <b>$79.99</b></p>
              </div>
            </div>
            <div class="service-item-list__body">
              <p>Incididunt ut labore sed dolore magna aliquay enim veniam quis nostrud exercitas tion ullamco laboris nisi ut aliquip ex ea reprehen deritin voluptate.</p>
              <ul class="list-checked uk-column-1-2@s">
                <li>Cupping on tires Inspection</li>
                <li>Defroster is not working Inspection</li>
                <li>Door does not lock or open Inspection</li>
                <li>Electrical components not working </li>
                <li>Battery Light is on Inspection</li>
                <li>Battery is dead Inspection</li>
                <li>Battery will not hold a charge Inspection</li>
                <li>Brake Pedal is hard to push Inspection</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="service-item-list">
          <div class="service-item-list__media"> <a href="page-services-article.html"><img src="assets/img/img-service-list-2.jpg" alt="img-service-list"></a></div>
          <div class="service-item-list__desc">
            <div class="service-item-list__head">
              <div class="service-item-list__icon"><img src="assets/img/ico-service-title.png" alt="ico-service-title"></div>
              <div class="service-item-list__title">
                <div class="uk-h3"> <a href="page-services-article.html">Exhaust System</a></div>
                <p>Auto diagnostic services starts from <b>$149.00</b></p>
              </div>
            </div>
            <div class="service-item-list__body">
              <p>Incididunt ut labore sed dolore magna aliquay enim veniam quis nostrud exercitas tion ullamco laboris nisi ut aliquip ex ea reprehen deritin voluptate.</p>
              <ul class="list-checked uk-column-1-2@s">
                <li>Cupping on tires Inspection</li>
                <li>Defroster is not working Inspection</li>
                <li>Door does not lock or open Inspection</li>
                <li>Electrical components not working </li>
                <li>Battery Light is on Inspection</li>
                <li>Battery is dead Inspection</li>
                <li>Battery will not hold a charge Inspection</li>
                <li>Brake Pedal is hard to push Inspection</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="service-item-list">
          <div class="service-item-list__media"> <a href="page-services-article.html"><img src="assets/img/img-service-list-3.jpg" alt="img-service-list"></a></div>
          <div class="service-item-list__desc">
            <div class="service-item-list__head">
              <div class="service-item-list__icon"><img src="assets/img/ico-service-title.png" alt="ico-service-title"></div>
              <div class="service-item-list__title">
                <div class="uk-h3"> <a href="page-services-article.html">Clutch & Transmission</a></div>
                <p>Auto diagnostic services starts from <b>$55.80</b></p>
              </div>
            </div>
            <div class="service-item-list__body">
              <p>Incididunt ut labore sed dolore magna aliquay enim veniam quis nostrud exercitas tion ullamco laboris nisi ut aliquip ex ea reprehen deritin voluptate.</p>
              <ul class="list-checked uk-column-1-2@s">
                <li>Cupping on tires Inspection</li>
                <li>Defroster is not working Inspection</li>
                <li>Door does not lock or open Inspection</li>
                <li>Electrical components not working </li>
                <li>Battery Light is on Inspection</li>
                <li>Battery is dead Inspection</li>
                <li>Battery will not hold a charge Inspection</li>
                <li>Brake Pedal is hard to push Inspection</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="service-item-list">
          <div class="service-item-list__media"> <a href="page-services-article.html"><img src="assets/img/img-service-list-4.jpg" alt="img-service-list"></a></div>
          <div class="service-item-list__desc">
            <div class="service-item-list__head">
              <div class="service-item-list__icon"><img src="assets/img/ico-service-title.png" alt="ico-service-title"></div>
              <div class="service-item-list__title">
                <div class="uk-h3"> <a href="page-services-article.html">Engine (Under the Hood)</a></div>
                <p>Auto diagnostic services starts from <b>$208.00</b></p>
              </div>
            </div>
            <div class="service-item-list__body">
              <p>Incididunt ut labore sed dolore magna aliquay enim veniam quis nostrud exercitas tion ullamco laboris nisi ut aliquip ex ea reprehen deritin voluptate.</p>
              <ul class="list-checked uk-column-1-2@s">
                <li>Cupping on tires Inspection</li>
                <li>Defroster is not working Inspection</li>
                <li>Door does not lock or open Inspection</li>
                <li>Electrical components not working </li>
                <li>Battery Light is on Inspection</li>
                <li>Battery is dead Inspection</li>
                <li>Battery will not hold a charge Inspection</li>
                <li>Brake Pedal is hard to push Inspection</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="uk-margin-medium-top uk-text-center"> <a class="uk-button uk-button-danger uk-button-large" href="#!" data-uk-icon="triangle-right">Load more services</a></div>
      </div>
    </div>
    <div class="section-subscribe">
      <div class="section-subscribe__content">
        <div class="uk-container">
          <div class="subscribe-box">
            <div class="uk-grid uk-flex-middle uk-child-width-1-2@m" data-uk-grid>
              <div>
                <div class="section-title">
                  <div class="uk-h2">Newsletter Subscription</div><span>Get Latest Auto News & Updates Directly To Inbox</span>
                </div>
              </div>
              <div>
                <div class="subscribe-box__form">
                  <form action="#!">
                    <div class="uk-flex uk-flex-middle"><input class="uk-input uk-form-large" type="email" name="email" placeholder="Write your email ..."><button class="uk-button uk-button-danger uk-button-large" type="submit" data-uk-icon="triangle-right">Subscribe</button></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>